* {
  border: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 0;
}

html {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/moutains-back.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/moutains-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
